     h2 {
        font-weight: 300;
        margin-bottom: 0px;
      }
      h3 {
        font-weight: 400;
        margin: 0;
      }
      #sells {
        display: block;
        float: left;
        width: 100%;
      }
      #nos iron-icon {
        color: red;
      }
      #yeses iron-icon {
        color: green;
      }
      .options {
        display: inline;
        float: left;
        margin: 10px;
        line-height: 2;
      }
      #top {
        float: left;
        height: 230px;
        width: 80%;
      }
      #ctacard {
        float: right;
        width: 20%;
        padding-top: 10px;
        height: 220px;
      } 
      #text {
        margin-top: 10px;
        float: left;
      }
      #smallcard {
        display: block;
        text-align: center;
      }
